@property --primary-color-midnight-blue {
    syntax: '<color>';
    inherits: false;
    initial-value: #003B6D;
}

@property --accent-color-blue-sky {
    syntax: '<color>';
    inherits: false;
    initial-value: #6699CC;
}

@property --secondary-color-dim-gray {
    syntax: '<color>';
    inherits: false;
    initial-value: #676767;
}

@property --secondary-color-silver {
    syntax: '<color>';
    inherits: false;
    initial-value: #BDBDBD;
}